<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.catface.rss.repository.mapper.ResourceTypeMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, type_name, type_code, belong_to_biz_domain, up_down, bucket_name, access_type, public_access_domain, private_access_domain, upload_term, need_callback, path_pattern, gmt_create, gmt_modified, status, default_access_status, remark
    </sql>

    <select id="selectByCode" resultType="com.catface.rss.repository.entity.ResourceType">
        select
        <include refid="Base_Column_List"/>
        from resource_type where type_code = #{typeCode}
    </select>

</mapper>
